src/flows/AssignCommissionsPercentages-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Debug_Report</name>
        <label>Debug Report</label>
        <locationX>389</locationX>
        <locationY>43</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrorReportBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>IB Opty.CommissionAssignment Fault</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>Support@winnets.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Affiliate</name>
        <label>Assign Affiliate</label>
        <locationX>600</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_1_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP1Affiliate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_2_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP2Affialiate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Benefit</name>
        <label>Assign Benefit</label>
        <locationX>601</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_1_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP1BusBenefit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_2_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP2BusBenefit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Blogger</name>
        <label>Assign Blogger</label>
        <locationX>601</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_1_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP1Blogger</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_2_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP2Blogger</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Bus_Referral</name>
        <label>Assign Bus. Referral</label>
        <locationX>601</locationX>
        <locationY>512</locationY>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_1_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP1BusReferral</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_2_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP2BusReferral</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Comsumer_Show</name>
        <label>Assign Comsumer Show</label>
        <locationX>601</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_1_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP1ConsumerShow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_2_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP2ConsumerShow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Customer_Referral</name>
        <label>Assign Customer Referral</label>
        <locationX>1131</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_1_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP1CustomerReferral</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_2_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP2CustomerReferral</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Digital_Media</name>
        <label>Assign Digital Media</label>
        <locationX>1185</locationX>
        <locationY>884</locationY>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_1_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP1DigitalMedia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_2_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP2DigitalMedia</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Hospitality</name>
        <label>Assign Hospitality</label>
        <locationX>956</locationX>
        <locationY>962</locationY>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_1_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP1Hospitality</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_2_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP2Hospitality</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medical</name>
        <label>Assign Medical</label>
        <locationX>822</locationX>
        <locationY>1102</locationY>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_1_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP1Medical</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_2_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP2Medical</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medical_Show</name>
        <label>Assign Medical Show</label>
        <locationX>571</locationX>
        <locationY>1126</locationY>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_1_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP1MedicalShow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_2_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP2MedicalShow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Online</name>
        <label>Assign Online</label>
        <locationX>599</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_1_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP1Online</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_2_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP2Online</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_Center</name>
        <label>Assign Sales Center</label>
        <locationX>604</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_1_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP1SalesCenter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_2_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP2SalesCenter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Store</name>
        <label>Assign Store</label>
        <locationX>1254</locationX>
        <locationY>766</locationY>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_1_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP1Store</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_2_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP2Store</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Wholesale</name>
        <label>Assign Wholesale</label>
        <locationX>484</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_1_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP1Wholesale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityforUpdate.Sales_Person_2_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SP2Wholesale</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fault_1</name>
        <label>Fault #1</label>
        <locationX>25</locationX>
        <locationY>170</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity FastLookup Failure</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debug_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fault_2</name>
        <label>Fault #2</label>
        <locationX>156</locationX>
        <locationY>169</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>User (SP1) FastLookup Failure</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debug_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fault_3</name>
        <label>Fault #3</label>
        <locationX>272</locationX>
        <locationY>170</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>User (SP2) FastLookup Failure</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debug_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fault_4</name>
        <label>Fault #4</label>
        <locationX>597</locationX>
        <locationY>169</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Decision Element Failed to find a matching Commission Condition</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debug_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fault_5</name>
        <label>Fault #5</label>
        <locationX>799</locationX>
        <locationY>166</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity FastUpdate Failure</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debug_Report</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Type</name>
        <label>Determine Type</label>
        <locationX>24</locationX>
        <locationY>660</locationY>
        <defaultConnector>
            <targetReference>Fault_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Affiliate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityforUpdate.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affiliate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Affiliate</targetReference>
            </connector>
            <label>Affiliate (%)</label>
        </rules>
        <rules>
            <name>Blogger_Percent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityforUpdate.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blogger Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Blogger</targetReference>
            </connector>
            <label>Blogger (%)</label>
        </rules>
        <rules>
            <name>Bus_Benefits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityforUpdate.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Benefit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Benefit</targetReference>
            </connector>
            <label>Bus. Benefits (%)</label>
        </rules>
        <rules>
            <name>Bus_Referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityforUpdate.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bus_Referral</targetReference>
            </connector>
            <label>Bus. Referral (%)</label>
        </rules>
        <rules>
            <name>Consumer_Show</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityforUpdate.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumer Show</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityforUpdate.Purchase_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Show</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Comsumer_Show</targetReference>
            </connector>
            <label>Consumer Show (%)</label>
        </rules>
        <rules>
            <name>Consumer_Call_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityforUpdate.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumer Show</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityforUpdate.Purchase_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call In</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_Center</targetReference>
            </connector>
            <label>Consumer Call In (%)</label>
        </rules>
        <rules>
            <name>Consumer_Store</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityforUpdate.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumer Show</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityforUpdate.Purchase_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Store</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Store</targetReference>
            </connector>
            <label>Consumer Store (%)</label>
        </rules>
        <rules>
            <name>Customer_Referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityforUpdate.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Customer_Referral</targetReference>
            </connector>
            <label>Customer Referral (%)</label>
        </rules>
        <rules>
            <name>Digital_Media</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityforUpdate.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital Media</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Digital_Media</targetReference>
            </connector>
            <label>Digital Media (%)</label>
        </rules>
        <rules>
            <name>Direct_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityforUpdate.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_Center</targetReference>
            </connector>
            <label>Direct Sales (%)</label>
        </rules>
        <rules>
            <name>Hospitality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityforUpdate.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hospitality</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hospitality</targetReference>
            </connector>
            <label>Hospitality (%)</label>
        </rules>
        <rules>
            <name>Medical_Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityforUpdate.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Medical</targetReference>
            </connector>
            <label>Medical Program (%)</label>
        </rules>
        <rules>
            <name>Medical_Show</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityforUpdate.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical Show</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityforUpdate.Purchase_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Show</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Medical_Show</targetReference>
            </connector>
            <label>Medical Show (%)</label>
        </rules>
        <rules>
            <name>Medical_Store_or_Call_In</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityforUpdate.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical Show</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityforUpdate.Purchase_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call In</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityforUpdate.Purchase_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Store</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Medical</targetReference>
            </connector>
            <label>Medical Store or Call In (%)</label>
        </rules>
        <rules>
            <name>Local_Store</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityforUpdate.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Store - Draper, Utah</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityforUpdate.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Store - Orem, Utah</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityforUpdate.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Store - Salt Lake City, Utah</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityforUpdate.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Store - Factory, Utah</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityforUpdate.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Store - City Creek, Utah</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Store</targetReference>
            </connector>
            <label>Local Store (%)</label>
        </rules>
        <rules>
            <name>Wholesale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityforUpdate.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wholesale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Wholesale</targetReference>
            </connector>
            <label>Wholesale (%)</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsEligible</name>
        <label>IsEligible</label>
        <locationX>14</locationX>
        <locationY>462</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Override_is_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityforUpdate.Override_Comm_Percent_from_User_Tab__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pull_SP1_Percentages</targetReference>
            </connector>
            <label>Override is False</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsOnline</name>
        <label>IsOnline?</label>
        <locationX>388</locationX>
        <locationY>246</locationY>
        <defaultConnector>
            <targetReference>Determine_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityforUpdate.Purchase_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Online</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Assigns the Sales Person Commissions Percentages based on Lead Source and Purchase Method. (All Values come from the related User records)</description>
    <interviewLabel>(WS) Assign Opty SP Percentages {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(WS) Assign Opty SP Percentages</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Pull_Opportunity</name>
        <label>Pull Opportunity</label>
        <locationX>11</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsEligible</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_1</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inputvar</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpportunityforUpdate</outputReference>
        <queriedFields>Sales_Person_1__c</queriedFields>
        <queriedFields>Sales_Person_2__c</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>Purchase_Method__c</queriedFields>
        <queriedFields>Override_Comm_Percent_from_User_Tab__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Pull_SP1_Percentages</name>
        <label>Pull SP1 Percentages</label>
        <locationX>157</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pull_SP2_Percentages</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_2</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityforUpdate.Sales_Person_1__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>SP1Affiliate</assignToReference>
            <field>Affiliate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP1Blogger</assignToReference>
            <field>Blogger_Commission_Percentage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP1BusBenefit</assignToReference>
            <field>Business_Benefit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP1BusReferral</assignToReference>
            <field>Business_Referral__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP1ConsumerShow</assignToReference>
            <field>Consuner_Show_Commission__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP1CustomerReferral</assignToReference>
            <field>Customer_Referral__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP1DigitalMedia</assignToReference>
            <field>Digital_Media_Commission_Percentage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP1Hospitality</assignToReference>
            <field>Hospitality__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP1MedicalShow</assignToReference>
            <field>Medical_Show_Commission_Percentage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP1Medical</assignToReference>
            <field>Medical__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP1Online</assignToReference>
            <field>Online__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP1SalesCenter</assignToReference>
            <field>Sales_Center__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP1Store</assignToReference>
            <field>Store_Commission_Percentage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP1Wholesale</assignToReference>
            <field>Wholesale__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Pull_SP2_Percentages</name>
        <label>Pull SP2 Percentages</label>
        <locationX>268</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsOnline</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_3</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityforUpdate.Sales_Person_2__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>SP2Affialiate</assignToReference>
            <field>Affiliate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP2Blogger</assignToReference>
            <field>Blogger_Commission_Percentage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP2BusBenefit</assignToReference>
            <field>Business_Benefit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP2BusReferral</assignToReference>
            <field>Business_Referral__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP2ConsumerShow</assignToReference>
            <field>Consuner_Show_Commission__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP2CustomerReferral</assignToReference>
            <field>Customer_Referral__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP2DigitalMedia</assignToReference>
            <field>Digital_Media_Commission_Percentage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP2Hospitality</assignToReference>
            <field>Hospitality__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP2MedicalShow</assignToReference>
            <field>Medical_Show_Commission_Percentage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP2Medical</assignToReference>
            <field>Medical__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP2Online</assignToReference>
            <field>Online__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP2SalesCenter</assignToReference>
            <field>Sales_Center__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP2Store</assignToReference>
            <field>Store_Commission_Percentage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SP2Wholesale</assignToReference>
            <field>Wholesale__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1118</locationX>
        <locationY>391</locationY>
        <faultConnector>
            <targetReference>Fault_5</targetReference>
        </faultConnector>
        <inputReference>OpportunityforUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Pull_Opportunity</startElementReference>
    <textTemplates>
        <name>ErrorReportBody</name>
        <text>An Opportunity ({!Inputvar}) was just created and/or updated which resulted in the triggering of a Flow to assign or update related sales commissions percentages on the Opportunity. 

SP1: {!OpportunityforUpdate.Sales_Person_1__c}
SP2: {!OpportunityforUpdate.Sales_Person_2__c}
LeadSource: {!OpportunityforUpdate.LeadSource}
Purchase Method: {!OpportunityforUpdate.Purchase_Method__c}

Internal Report: {!ErrorMessage}

System Debug Message: {!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Inputvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityforUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SP1Affiliate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP1Blogger</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP1BusBenefit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP1BusReferral</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP1CommissionsColl</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SP1ConsumerShow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP1CustomerReferral</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP1DigitalMedia</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP1Hospitality</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP1Medical</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP1MedicalShow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP1Online</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP1SalesCenter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP1Store</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP1Wholesale</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP2Affialiate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP2Blogger</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP2BusBenefit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP2BusReferral</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP2CommissionsColl</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SP2ConsumerShow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP2CustomerReferral</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP2DigitalMedia</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP2Hospitality</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP2Medical</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP2MedicalShow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP2Online</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP2SalesCenter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP2Store</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SP2Wholesale</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
