src/flows/Engagement_Plan_From_Case_Engagement-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Missing ContacId</label>
        </rules>
    </decisions>
    <description>Fill in the missing references for Contact and Account when an Engagment Plan is Created from a Case (Engagement)</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
ISBLANK([npsp__Engagement_Plan__c].npsp__Case__c ),
NULL,
IF(
ISBLANK([npsp__Engagement_Plan__c].npsp__Case__c.ContactId ),
NULL,
[npsp__Engagement_Plan__c].npsp__Case__c.ContactId
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_npsp_Contact_c</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!myVariable_current.npsp__Case__c} ),
NULL,
IF(
ISBLANK({!myVariable_current.npsp__Case__c.ContactId} ),
NULL,
{!myVariable_current.npsp__Case__c.ContactId}
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
ISBLANK([npsp__Engagement_Plan__c].npsp__Case__c ),
NULL,
IF(
ISBLANK([npsp__Engagement_Plan__c].npsp__Case__c.ContactId ),
NULL,
[npsp__Engagement_Plan__c].npsp__Case__c.Contact.AccountId 
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_npsp_Account_c</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!myVariable_current.npsp__Case__c} ),
NULL,
IF(
ISBLANK({!myVariable_current.npsp__Case__c.ContactId} ),
NULL,
{!myVariable_current.npsp__Case__c.Contact.AccountId} 
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISBLANK([npsp__Engagement_Plan__c].npsp__Contact__c ),
IF(
NOT(ISBLANK([npsp__Engagement_Plan__c].npsp__Case__c )),
NOT(ISBLANK([npsp__Engagement_Plan__c].npsp__Case__c.ContactId )),
FALSE
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISBLANK({!myVariable_current.npsp__Contact__c} ),
IF(
NOT(ISBLANK({!myVariable_current.npsp__Case__c} )),
NOT(ISBLANK({!myVariable_current.npsp__Case__c.ContactId} )),
FALSE
)
)</expression>
    </formulas>
    <interviewLabel>Engagement_Plan_From_Case_Engagement-2_npsp__Engagement_Plan__c</interviewLabel>
    <label>Engagement Plan From Case (Engagement)</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>npsp__Engagement_Plan__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[npsp__Engagement_Plan__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Contact and Account Reference</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>npsp__Account__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_npsp_Account_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>npsp__Contact__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_npsp_Contact_c</elementReference>
            </value>
        </inputAssignments>
        <object>npsp__Engagement_Plan__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>npsp__Engagement_Plan__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Engagement_Plan__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
