src/flows/Intake-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>Alternate_Email</name>
        <choiceText>Alternate Email</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>American_Indian_Alaska_Native_and_Black</name>
        <choiceText>American Indian/Alaska Native and Black</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>American_Indian_Alaska_Native_and_White</name>
        <choiceText>American Indian/Alaska Native and White</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>American_Indian_or_Alaska_Native</name>
        <choiceText>American Indian or Alaska Native</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Asian</name>
        <choiceText>Asian</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Asian_and_White</name>
        <choiceText>Asian and White</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Auto_Loan</name>
        <choiceText>Auto Loan</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Average</name>
        <choiceText>Average</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Bad</name>
        <choiceText>Bad</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Banked</name>
        <choiceText>Banked</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Black_or_African_American</name>
        <choiceText>Black or African American</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Black_or_African_American_and_White</name>
        <choiceText>Black or African American and White</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Car_Payments</name>
        <choiceText>Car Payments</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Cell_Phone</name>
        <choiceText>Cell Phone</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Check_Cashing</name>
        <choiceText>Check Cashing</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>College_Savings</name>
        <choiceText>College Savings</choiceText>
        <dataType>Currency</dataType>
        <userInput>
            <isRequired>false</isRequired>
        </userInput>
    </choices>
    <choices>
        <name>College_Savings2</name>
        <choiceText>College Savings</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>College_Savings3</name>
        <choiceText>College Savings</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
        </userInput>
    </choices>
    <choices>
        <name>Completely_satisfied</name>
        <choiceText>Completely satisfied</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Confident</name>
        <choiceText>Confident</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Credit_Card</name>
        <choiceText>Credit Card</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Dr</name>
        <choiceText>Dr.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Emergency</name>
        <choiceText>Emergency</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>English</name>
        <choiceText>English</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Full_time_work_good_pay_benefits</name>
        <choiceText>Full-time work; good pay/benefits</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Full_time_work_low_pay_few_benefits</name>
        <choiceText>Full-time work; low pay/few benefits</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>General</name>
        <choiceText>General</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Good</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Hispanic_or_Latino</name>
        <choiceText>Hispanic or Latino</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Holiday_Vacation</name>
        <choiceText>Holiday/Vacation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Home</name>
        <choiceText>Home</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Home_Equity_Loan</name>
        <choiceText>Home Equity Loan</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>I_make_the_decisions_myself</name>
        <choiceText>I make the decisions myself</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>I_manage_the_money_myself</name>
        <choiceText>I manage the money myself</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>IDA</name>
        <choiceText>IDA</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>II</name>
        <choiceText>II</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>III</name>
        <choiceText>III</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Insurance</name>
        <choiceText>Insurance</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>IRA</name>
        <choiceText>IRA</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>IV</name>
        <choiceText>IV</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Jr</name>
        <choiceText>Jr.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Little_income_hard_to_manage</name>
        <choiceText>Little income, hard to manage</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Long_term_career</name>
        <choiceText>Long-term career</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Long_term_career2</name>
        <choiceText>Long-term career</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Long_term_stable_income</name>
        <choiceText>Long-term stable income</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Mainstream_Checking</name>
        <choiceText>Mainstream Checking</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Mainstream_Savings</name>
        <choiceText>Mainstream Savings</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Manage_with_public_benefits</name>
        <choiceText>Manage with public benefits</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Medical</name>
        <choiceText>Medical</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Meet_basic_needs_without_benefits</name>
        <choiceText>Meet basic needs without benefits</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Mobile</name>
        <choiceText>Mobile</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Money_Order_s</name>
        <choiceText>Money Order(s)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Money_Transfer_s</name>
        <choiceText>Money Transfer(s)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Mortgage_Loan</name>
        <choiceText>Mortgage Loan</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Mortgage_Rent</name>
        <choiceText>Mortgage/Rent</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Mr</name>
        <choiceText>Mr.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Mrs</name>
        <choiceText>Mrs.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ms</name>
        <choiceText>Ms.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Multi_Racial</name>
        <choiceText>Multi-Racial</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Native_Hawaiian_or_Pacific_Islander</name>
        <choiceText>Native Hawaiian or Pacific Islander</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No_income</name>
        <choiceText>No income</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No_job</name>
        <choiceText>No job</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Not_at_all_confident</name>
        <choiceText>Not at all confident</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Not_at_all_satisfied</name>
        <choiceText>Not at all satisfied</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Not_Hispanic_or_Latino</name>
        <choiceText>Not Hispanic or Latino</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Not_very_confident</name>
        <choiceText>Not very confident</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Not_very_satisfied</name>
        <choiceText>Not very satisfied</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Own</name>
        <choiceText>Own</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Part_time_work_low_pay_no_benefits</name>
        <choiceText>Part-time work; low pay/no benefits</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Pawn_Shop_s</name>
        <choiceText>Pawn Shop(s)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Payday_Loan_s</name>
        <choiceText>Payday Loan(s)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Personal_Email</name>
        <choiceText>Personal Email</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Predatory_Loan_Alternative</name>
        <choiceText>Predatory Loan Alternative</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Predatory_Loan_Consolidation</name>
        <choiceText>Predatory Loan Consolidation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Predatory_Loan_s</name>
        <choiceText>Predatory Loan(s)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Prof</name>
        <choiceText>Prof.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Rapid_Refund_Anticipation</name>
        <choiceText>Rapid Refund Anticipation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Remittance_s</name>
        <choiceText>Remittance(s)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Rent</name>
        <choiceText>Rent</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Rent_to_Own</name>
        <choiceText>Rent-to-Own</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Rev</name>
        <choiceText>Rev.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Revolving_Loans</name>
        <choiceText>Revolving Loan(s)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Satisfied</name>
        <choiceText>Satisfied</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Second_Chance_Checking</name>
        <choiceText>Second Chance Checking</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Secured_Installment_Loan_s</name>
        <choiceText>Secured Installment Loan(s)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Select_One</name>
        <choiceText>Select One</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Signature_Loan</name>
        <choiceText>Signature Loan</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Small_Business_Loan</name>
        <choiceText>Small Business Loan</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Someone_else_and_I_make_the_decisions_together</name>
        <choiceText>Someone else and I make the decisions together</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Someone_else_and_I_manage_the_money_together</name>
        <choiceText>Someone else and I manage the money together</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Someone_else_makes_the_decision</name>
        <choiceText>Someone else makes the decision</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Someone_else_manages_the_money</name>
        <choiceText>Someone else manages the money</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Somewhat_confident</name>
        <choiceText>Somewhat confident</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Somewhat_satisfied</name>
        <choiceText>Somewhat satisfied</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Spanish</name>
        <choiceText>Spanish</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Sr</name>
        <choiceText>Sr.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Student_Loans</name>
        <choiceText>Student Loan(s)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Targeted_Savings</name>
        <choiceText>Targeted Savings</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Title_Loan_Alternative</name>
        <choiceText>Title Loan Alternative</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Transgender</name>
        <choiceText>Transgender</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Unbanked</name>
        <choiceText>Unbanked</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Underbanked</name>
        <choiceText>Underbanked</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Unsecured_Installment_Loan_s</name>
        <choiceText>Unsecured Installment Loan(s)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Utilities</name>
        <choiceText>Utilities</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Very_Bad</name>
        <choiceText>Very Bad</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Very_confident</name>
        <choiceText>Very confident</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Very_Good</name>
        <choiceText>Very Good</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>White</name>
        <choiceText>White</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Work</name>
        <choiceText>Work</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Work_Email</name>
        <choiceText>Work Email</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X1</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X2</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X4</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <dynamicChoiceSets>
        <name>Alternative_Services</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Alternative_Services__c</picklistField>
        <picklistObject>Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Checking_Account</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Checking_Account_Established__c</picklistField>
        <picklistObject>Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Employment_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Employment_Status__c</picklistField>
        <picklistObject>Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Ethnicity2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ethnicity__c</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Looking_for_Work</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Looking_for_Work__c</picklistField>
        <picklistObject>Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Mailing_State</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Mailing_State__c</picklistField>
        <picklistObject>Intake__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Physical_Address_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Physical_Address_Type__c</picklistField>
        <picklistObject>Intake__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Physical_State</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State__c</picklistField>
        <picklistObject>Intake__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Race</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Race__c</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Savings_Account</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Savings_Account_Established__c</picklistField>
        <picklistObject>Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Seen_Credit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Seen_Credit_Score__c</picklistField>
        <picklistObject>Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SLCCU_Products2</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SLCCU_Products__c</picklistField>
        <picklistObject>Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type_of_Retirement_Account</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Retirement__c</picklistField>
        <picklistObject>Intake__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Intake2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Intake2</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>330</locationX>
        <locationY>313</locationY>
        <connector>
            <targetReference>Lookup_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Birthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disputes__c</field>
            <value>
                <elementReference>Disputes2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_Status__c</field>
            <value>
                <elementReference>Employment_Status2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ethnicity__c</field>
            <value>
                <elementReference>Ethnicity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Head_of_Household__c</field>
            <value>
                <elementReference>Head_of_Household</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>Home_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Information_Correct__c</field>
            <value>
                <elementReference>Information_Correct2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Looking_for_work__c</field>
            <value>
                <elementReference>Looking_for_Work2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Mailing_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Mailing_Zip_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>Mailing_State2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Mailing_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Since__c</field>
            <value>
                <elementReference>Member_Since</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Native_or_preferred_language__c</field>
            <value>
                <elementReference>Preferred_Language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Credit_Score_Available__c</field>
            <value>
                <elementReference>No_Credit_Score_Available</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCity</field>
            <value>
                <elementReference>Physical_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPostalCode</field>
            <value>
                <elementReference>Physical_Zip_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherState</field>
            <value>
                <elementReference>Physical_State2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherStreet</field>
            <value>
                <elementReference>Physical_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_of_work__c</field>
            <value>
                <elementReference>Place_s_of_Work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Race__c</field>
            <value>
                <elementReference>Race2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLCCU_Member__c</field>
            <value>
                <elementReference>SLCCU_Member2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_work__c</field>
            <value>
                <elementReference>Type_of_Work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>U_S_Citizen__c</field>
            <value>
                <elementReference>U_S_Citizen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Veteran__c</field>
            <value>
                <elementReference>Veteran</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
            <value>
                <elementReference>Alternate_Email2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>Personal_Email2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <elementReference>Preferred_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <elementReference>Preferred_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Primary_Address_Type__c</field>
            <value>
                <elementReference>Mailing_Address_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Secondary_Address_Type__c</field>
            <value>
                <elementReference>Physical_Address_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
            <value>
                <elementReference>Work_Email2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>Work_Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_First_Metric_Record</name>
        <label>Create First Metric Record</label>
        <locationX>622</locationX>
        <locationY>307</locationY>
        <inputAssignments>
            <field>Auto_Loans_Payment__c</field>
            <value>
                <elementReference>Auto_Loan_s_Payment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Banked_Status__c</field>
            <value>
                <elementReference>Banked_Status2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Car_Insurance__c</field>
            <value>
                <elementReference>Car_Insurance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cell_Phone__c</field>
            <value>
                <elementReference>Cell_Phone2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Child_Care__c</field>
            <value>
                <elementReference>Child_Care</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Child_Support_Alimony_expense__c</field>
            <value>
                <elementReference>Child_Support_and_or_Alimony2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Child_Support_and_or_Alimony__c</field>
            <value>
                <elementReference>Child_Support_and_or_Alimony</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clothing__c</field>
            <value>
                <elementReference>Clothing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confidence_Financial_Future__c</field>
            <value>
                <elementReference>Financial_Future_Confidence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>First_Name2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contribution_to_College_Savings__c</field>
            <value>
                <elementReference>Total_College_Savings</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contribution_to_Emergency__c</field>
            <value>
                <elementReference>Total_Emergency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contribution_to_General__c</field>
            <value>
                <elementReference>Total_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contribution_to_Holiday_Vacation__c</field>
            <value>
                <elementReference>Total_Holiday_Vacation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contribution_to_IRA__c</field>
            <value>
                <elementReference>Total_IRA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Score__c</field>
            <value>
                <elementReference>Verified_Credit_Score2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_information_collected__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disability__c</field>
            <value>
                <elementReference>Disability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_Income__c</field>
            <value>
                <elementReference>Formal_and_Informal_Employment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entertainment__c</field>
            <value>
                <elementReference>Entertainment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Friends_Loan_Payment__c</field>
            <value>
                <elementReference>Friends_Family_Loan_s_Payment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Food2__c</field>
            <value>
                <elementReference>Food</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Health_Insurance__c</field>
            <value>
                <elementReference>Health_Insurance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Housing__c</field>
            <value>
                <elementReference>Housing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metric_Status_Banked_Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metric_Status_Credit__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metric_Status_Expenses__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metric_Status_Income__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metric_Status_Post_Session__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Payment_Real_Estate_Loan__c</field>
            <value>
                <elementReference>Real_Estate_Loan_s_Payment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Payment_Revolving_Loans__c</field>
            <value>
                <elementReference>Revolving_Loan_s_Payment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Payment_Secured_Installment_Loan__c</field>
            <value>
                <elementReference>Secured_Installment_Loan_s_Payment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Payment_Student_Loans__c</field>
            <value>
                <elementReference>Student_Loan_s_Payment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Payment_Unsecured_Installmt_Loan__c</field>
            <value>
                <elementReference>Unsecured_Installment_Loan_s_Payment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Credit_Score_Available__c</field>
            <value>
                <elementReference>No_Credit_Score_Available</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Income__c</field>
            <value>
                <elementReference>Other_Income</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Monthly_Expense__c</field>
            <value>
                <elementReference>Other_Monthly_Expense</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Past_Due_Auto_Loans__c</field>
            <value>
                <elementReference>Total_Auto_Loan_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Past_Due_Cell_Phone_Bills__c</field>
            <value>
                <elementReference>Total_Cell_Phone_Past_Due</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Past_Due_Family_Friends_Loan__c</field>
            <value>
                <elementReference>Total_Family_Friends_Loan_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Past_Due_Medical_Bill__c</field>
            <value>
                <elementReference>Total_Medical_Past_Due</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Past_Due_Other_Bills__c</field>
            <value>
                <elementReference>Total_Other_Bills_Past_Due</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Past_Due_Predatory_Loans__c</field>
            <value>
                <elementReference>Total_Due_on_Predatory_Loan_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Past_Due_Real_Estate_Loans__c</field>
            <value>
                <elementReference>Total_Real_Estate_Loan_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Past_Due_Revolving_Loans__c</field>
            <value>
                <elementReference>Total_Due_on_Revolving_Loans</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Past_Due_Secured_Installment_Loans__c</field>
            <value>
                <elementReference>Total_Due_on_Secured_Installment_Loan_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Past_Due_Unsecured_Installment_Loans__c</field>
            <value>
                <elementReference>Total_Due_on_Unsecured_Installment_Loan_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pension_Retirement_and_Investment__c</field>
            <value>
                <elementReference>Pension_Retirement_and_Investment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNAP__c</field>
            <value>
                <elementReference>SNAP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Self_Employment_Income__c</field>
            <value>
                <elementReference>Self_Employment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Security__c</field>
            <value>
                <elementReference>Social_Security</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TANF__c</field>
            <value>
                <elementReference>TANF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Liens_Garnishments__c</field>
            <value>
                <elementReference>Tax_Liens_Garnishments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transportation__c</field>
            <value>
                <elementReference>Transportation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unemployment_Income__c</field>
            <value>
                <elementReference>Unemployment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Utilities__c</field>
            <value>
                <elementReference>Utilities_Other_Household_Expenditures</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Veteran_s_Assistance_Survivor_s_Benefits__c</field>
            <value>
                <elementReference>Veteran_s_Assistance_Survivor_s_Benefits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WIC__c</field>
            <value>
                <elementReference>WIC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warrants__c</field>
            <value>
                <elementReference>Warrants</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workman_s_Compensation__c</field>
            <value>
                <elementReference>Workman_s_Compensation</elementReference>
            </value>
        </inputAssignments>
        <object>Metrics__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Contact</name>
        <label>Lookup Contact</label>
        <locationX>475</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_First_Metric_Record</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID2</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Name</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Address_Information</name>
        <label>Address Information</label>
        <locationX>331</locationX>
        <locationY>101</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Household_Details</targetReference>
        </connector>
        <fields>
            <name>Mailing_Address_Type</name>
            <choiceReferences>Physical_Address_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mailing Address Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mailing_Street</name>
            <dataType>String</dataType>
            <fieldText>Mailing Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mailing_City</name>
            <dataType>String</dataType>
            <fieldText>Mailing City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mailing_State2</name>
            <choiceReferences>Mailing_State</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mailing State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mailing_Zip_Code</name>
            <dataType>Number</dataType>
            <fieldText>Mailing Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Physical_Address</name>
            <choiceReferences>Physical_Address_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Physical Address</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Physical_Street</name>
            <dataType>String</dataType>
            <fieldText>Physical Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Physical_City</name>
            <dataType>String</dataType>
            <fieldText>Physical City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Physical_State2</name>
            <choiceReferences>Physical_State</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Physical State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Physical_Zip_Code</name>
            <dataType>Number</dataType>
            <fieldText>Physical Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>Banked_Status</name>
        <label>Banked Status</label>
        <locationX>41</locationX>
        <locationY>313</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Wellbeing_and_Confidence</targetReference>
        </connector>
        <fields>
            <name>Checking_Account_Established</name>
            <choiceReferences>Checking_Account</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Checking Account Established</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>At_Which_Institution</name>
            <dataType>String</dataType>
            <fieldText>At Which Institution?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Savings_Account_Established</name>
            <choiceReferences>Savings_Account</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Savings Account Established</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>At_Which_Institution2</name>
            <dataType>String</dataType>
            <fieldText>At Which Institution?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Alternative_Services1</name>
            <choiceReferences>Alternative_Services</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Alternative Services</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SLCCU_Member2</name>
            <dataType>Boolean</dataType>
            <fieldText>SLCCU Member</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Member_Since</name>
            <dataType>Date</dataType>
            <fieldText>Member Since</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SLCCU_Products1</name>
            <choiceReferences>SLCCU_Products2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SLCCU Products</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Banked_Status2</name>
            <choiceReferences>Select_One</choiceReferences>
            <choiceReferences>Banked</choiceReferences>
            <choiceReferences>Underbanked</choiceReferences>
            <choiceReferences>Unbanked</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_One</defaultSelectedChoiceReference>
            <fieldText>Banked Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Contact_Information</name>
        <label>Contact Information</label>
        <locationX>183</locationX>
        <locationY>98</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Address_Information</targetReference>
        </connector>
        <fields>
            <name>Preferred_Phone</name>
            <choiceReferences>Select_One</choiceReferences>
            <choiceReferences>Home</choiceReferences>
            <choiceReferences>Mobile</choiceReferences>
            <choiceReferences>Work</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_One</defaultSelectedChoiceReference>
            <fieldText>Preferred Phone</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Home_Phone</name>
            <dataType>String</dataType>
            <fieldText>Home Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mobile_Phone</name>
            <dataType>String</dataType>
            <fieldText>Mobile Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Work_Phone</name>
            <dataType>String</dataType>
            <fieldText>Work Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Preferred_Email</name>
            <choiceReferences>Select_One</choiceReferences>
            <choiceReferences>Personal_Email</choiceReferences>
            <choiceReferences>Work_Email</choiceReferences>
            <choiceReferences>Alternate_Email</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_One</defaultSelectedChoiceReference>
            <fieldText>Preferred Email</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Personal_Email2</name>
            <dataType>String</dataType>
            <fieldText>Personal Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Work_Email2</name>
            <dataType>String</dataType>
            <fieldText>Work Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Alternate_Email2</name>
            <dataType>String</dataType>
            <fieldText>Alternate Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Credit</name>
        <label>Credit</label>
        <locationX>41</locationX>
        <locationY>205</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Banked_Status</targetReference>
        </connector>
        <fields>
            <name>Seen_Credit_Score</name>
            <choiceReferences>Seen_Credit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seen Credit Score</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Self_Rated_Credit_Score2</name>
            <dataType>Number</dataType>
            <fieldText>Self-Rated Credit Score</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Verified_Credit_Score2</name>
            <dataType>Number</dataType>
            <fieldText>Verified Credit Score</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>No_Credit_Score_Available</name>
            <dataType>Boolean</dataType>
            <fieldText>No Credit Score Available</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Information_Correct2</name>
            <dataType>Boolean</dataType>
            <fieldText>Information Correct</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Disputes2</name>
            <dataType>Boolean</dataType>
            <fieldText>Disputes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Debt</name>
        <label>Debt</label>
        <locationX>481</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Expenses</targetReference>
        </connector>
        <fields>
            <name>Total_Auto_Loan_s</name>
            <dataType>Currency</dataType>
            <fieldText>Total Auto Loan(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Real_Estate_Loan_s</name>
            <dataType>Currency</dataType>
            <fieldText>Total Real Estate Loan(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Due_on_Predatory_Loan_s</name>
            <dataType>Currency</dataType>
            <fieldText>Total Predatory Loan(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Due_on_Student_Loan_s</name>
            <dataType>Currency</dataType>
            <fieldText>Total Student Loan(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Due_on_Secured_Installment_Loan_s</name>
            <dataType>Currency</dataType>
            <fieldText>Total Secured Installment Loan(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Due_on_Unsecured_Installment_Loan_s</name>
            <dataType>Currency</dataType>
            <fieldText>Total Unsecured Installment Loan(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Family_Friends_Loan_s</name>
            <dataType>Currency</dataType>
            <fieldText>Total Family/Friends Loan(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Due_on_Revolving_Loans</name>
            <dataType>Currency</dataType>
            <fieldText>Total Revolving Loan(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Other_Loan_s</name>
            <dataType>Currency</dataType>
            <fieldText>Total Other Loan(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Mortgage_Rent_Past_Due</name>
            <dataType>Currency</dataType>
            <fieldText>Total Household Bills Past Due</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Medical_Past_Due</name>
            <dataType>Currency</dataType>
            <fieldText>Total Medical Bills Past Due</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Cell_Phone_Past_Due</name>
            <dataType>Currency</dataType>
            <fieldText>Total Cell Phone Bills Past Due</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Other_Bills_Past_Due</name>
            <dataType>Currency</dataType>
            <fieldText>Total Other Bills Past Due</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>Expenses</name>
        <label>Expenses</label>
        <locationX>333</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Savings</targetReference>
        </connector>
        <fields>
            <name>Housing</name>
            <dataType>Currency</dataType>
            <fieldText>Housing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Utilities_Other_Household_Expenditures</name>
            <dataType>Currency</dataType>
            <fieldText>Utilities &amp; Other Household Expenditures</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Food</name>
            <dataType>Currency</dataType>
            <fieldText>Food</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Cell_Phone2</name>
            <dataType>Currency</dataType>
            <fieldText>Cell Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Transportation</name>
            <dataType>Currency</dataType>
            <fieldText>Transportation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Entertainment</name>
            <dataType>Currency</dataType>
            <fieldText>Entertainment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Clothing</name>
            <dataType>Currency</dataType>
            <fieldText>Clothing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Health_Insurance</name>
            <dataType>Currency</dataType>
            <fieldText>Health Insurance</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Car_Insurance</name>
            <dataType>Currency</dataType>
            <fieldText>Car Insurance</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Child_Care</name>
            <dataType>Currency</dataType>
            <fieldText>Child Care</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Child_Support_and_or_Alimony2</name>
            <dataType>Currency</dataType>
            <fieldText>Child Support and/or Alimony</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Tax_Liens_Garnishments</name>
            <dataType>Currency</dataType>
            <fieldText>Tax Liens/Garnishments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Warrants</name>
            <dataType>Currency</dataType>
            <fieldText>Warrants</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Other_Monthly_Expense</name>
            <dataType>Currency</dataType>
            <fieldText>Other Monthly Expense</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Loan_Payments</name>
            <fieldText>Loan Payments</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Auto_Loan_s_Payment</name>
            <dataType>Currency</dataType>
            <fieldText>Auto Loan(s) Payment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Real_Estate_Loan_s_Payment</name>
            <dataType>Currency</dataType>
            <fieldText>Real Estate Loan(s) Payment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Student_Loan_s_Payment</name>
            <dataType>Currency</dataType>
            <fieldText>Student Loan(s) Payment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Predatory_Loan_s_Payments</name>
            <dataType>Currency</dataType>
            <fieldText>Predatory Loan(s) Payment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Revolving_Loan_s_Payment</name>
            <dataType>Currency</dataType>
            <fieldText>Revolving Loan(s) Payment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Secured_Installment_Loan_s_Payment</name>
            <dataType>Currency</dataType>
            <fieldText>Secured Installment Loan(s) Payment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Unsecured_Installment_Loan_s_Payment</name>
            <dataType>Currency</dataType>
            <fieldText>Unsecured Installment Loan(s) Payment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Friends_Family_Loan_s_Payment</name>
            <dataType>Currency</dataType>
            <fieldText>Friends/Family Loan(s) Payment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Other_Loan_s_Payment</name>
            <dataType>Currency</dataType>
            <fieldText>Other Loan(s) Payment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Budget_Established</name>
            <dataType>Boolean</dataType>
            <fieldText>Budget Established</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Household_Details</name>
        <label>Household Details</label>
        <locationX>479</locationX>
        <locationY>100</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Race_Ethnicity</targetReference>
        </connector>
        <fields>
            <name>Head_of_Household</name>
            <dataType>Boolean</dataType>
            <fieldText>Head of Household?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_Household_Residents</name>
            <dataType>Number</dataType>
            <fieldText>Number of Household Residents</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>Income</name>
        <label>Income</label>
        <locationX>622</locationX>
        <locationY>203</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Debt</targetReference>
        </connector>
        <fields>
            <name>Employment_Status2</name>
            <choiceReferences>Employment_Status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Employment Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Looking_for_Work2</name>
            <choiceReferences>Looking_for_Work</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Looking for Work</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Place_s_of_Work</name>
            <fieldText>Place(s) of Work</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Type_of_Work</name>
            <fieldText>Type of Work</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Formal_and_Informal_Employment</name>
            <dataType>Currency</dataType>
            <fieldText>Formal and Informal Employment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Self_Employment</name>
            <dataType>Currency</dataType>
            <fieldText>Self-Employment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Unemployment</name>
            <dataType>Currency</dataType>
            <fieldText>Unemployment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Workman_s_Compensation</name>
            <dataType>Currency</dataType>
            <fieldText>Workman&apos;s Compensation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Disability</name>
            <dataType>Currency</dataType>
            <fieldText>Disability</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Social_Security</name>
            <dataType>Currency</dataType>
            <fieldText>Social Security</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Pension_Retirement_and_Investment</name>
            <dataType>Currency</dataType>
            <fieldText>Pension, Retirement, and Investment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>SNAP</name>
            <dataType>Currency</dataType>
            <fieldText>SNAP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>TANF</name>
            <dataType>Currency</dataType>
            <fieldText>TANF</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>WIC</name>
            <dataType>Currency</dataType>
            <fieldText>WIC</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Veteran_s_Assistance_Survivor_s_Benefits</name>
            <dataType>Currency</dataType>
            <fieldText>Veteran&apos;s Assistance/Survivor&apos;s Benefits</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Child_Support_and_or_Alimony</name>
            <dataType>Currency</dataType>
            <fieldText>Child Support and/or Alimony</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Other_Income</name>
            <dataType>Currency</dataType>
            <fieldText>Other Income</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>Intake_Contact_Details</name>
        <label>Intake - Contact Details</label>
        <locationX>40</locationX>
        <locationY>98</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Information</targetReference>
        </connector>
        <fields>
            <name>First_Name2</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Primary_Affiliation</name>
            <dataType>String</dataType>
            <fieldText>Primary Affiliation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Birthdate</name>
            <dataType>Date</dataType>
            <fieldText>Birthdate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gender</name>
            <choiceReferences>Select_One</choiceReferences>
            <choiceReferences>Male</choiceReferences>
            <choiceReferences>Female</choiceReferences>
            <choiceReferences>Transgender</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_One</defaultSelectedChoiceReference>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Veteran</name>
            <dataType>Boolean</dataType>
            <fieldText>Veteran</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>U_S_Citizen</name>
            <dataType>Boolean</dataType>
            <fieldText>U.S. Citizen</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Race_Ethnicity</name>
        <label>Race/Ethnicity</label>
        <locationX>623</locationX>
        <locationY>98</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Income</targetReference>
        </connector>
        <fields>
            <name>Race2</name>
            <choiceReferences>Race</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Race</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ethnicity</name>
            <choiceReferences>Ethnicity2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ethnicity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Preferred_Language</name>
            <choiceReferences>Select_One</choiceReferences>
            <choiceReferences>English</choiceReferences>
            <choiceReferences>Spanish</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_One</defaultSelectedChoiceReference>
            <fieldText>Preferred Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Preferred_Language</name>
            <dataType>String</dataType>
            <fieldText>Other Preferred Language</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Savings</name>
        <label>Savings</label>
        <locationX>184</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Credit</targetReference>
        </connector>
        <fields>
            <name>Total_General</name>
            <dataType>Currency</dataType>
            <fieldText>Total General</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Emergency</name>
            <dataType>Currency</dataType>
            <fieldText>Total Emergency</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Holiday_Vacation</name>
            <dataType>Currency</dataType>
            <fieldText>Total Holiday/Vacation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_IRA</name>
            <dataType>Currency</dataType>
            <fieldText>Total Retirement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Type_of_Retirement_Account2</name>
            <choiceReferences>Type_of_Retirement_Account</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Retirement Account</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Total_College_Savings</name>
            <dataType>Currency</dataType>
            <fieldText>Total College Savings</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>Wellbeing_and_Confidence</name>
        <label>Wellbeing and Confidence</label>
        <locationX>185</locationX>
        <locationY>314</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <fields>
            <name>Decision_Making_Role</name>
            <choiceReferences>Select_One</choiceReferences>
            <choiceReferences>I_make_the_decisions_myself</choiceReferences>
            <choiceReferences>Someone_else_and_I_make_the_decisions_together</choiceReferences>
            <choiceReferences>Someone_else_makes_the_decision</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_One</defaultSelectedChoiceReference>
            <fieldText>Decision-Making Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Who typically makes the decisions about money and finances in your household?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Finance_Management</name>
            <choiceReferences>Select_One</choiceReferences>
            <choiceReferences>I_manage_the_money_myself</choiceReferences>
            <choiceReferences>Someone_else_and_I_manage_the_money_together</choiceReferences>
            <choiceReferences>Someone_else_manages_the_money</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_One</defaultSelectedChoiceReference>
            <fieldText>Finance Management</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Who typically manages the household money by doing things such as paying the bills and keeping track of spending?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Financial_Management_Satisfaction</name>
            <choiceReferences>Select_One</choiceReferences>
            <choiceReferences>Completely_satisfied</choiceReferences>
            <choiceReferences>Satisfied</choiceReferences>
            <choiceReferences>Somewhat_satisfied</choiceReferences>
            <choiceReferences>Not_very_satisfied</choiceReferences>
            <choiceReferences>Not_at_all_satisfied</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_One</defaultSelectedChoiceReference>
            <fieldText>Financial Management Satisfaction</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>How satisfied are you with how finances are handled in your household?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Financial_Management_Confidence</name>
            <choiceReferences>Select_One</choiceReferences>
            <choiceReferences>Very_confident</choiceReferences>
            <choiceReferences>Confident</choiceReferences>
            <choiceReferences>Somewhat_confident</choiceReferences>
            <choiceReferences>Not_very_confident</choiceReferences>
            <choiceReferences>Not_at_all_confident</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_One</defaultSelectedChoiceReference>
            <fieldText>Financial Management Confidence</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>How confident are you about making decisions related to your finances?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Financial_Crisis_Confidence</name>
            <choiceReferences>Select_One</choiceReferences>
            <choiceReferences>Very_confident</choiceReferences>
            <choiceReferences>Confident</choiceReferences>
            <choiceReferences>Somewhat_confident</choiceReferences>
            <choiceReferences>Not_very_confident</choiceReferences>
            <choiceReferences>Not_at_all_confident</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_One</defaultSelectedChoiceReference>
            <fieldText>Financial Crisis Confidence</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>If you had an unexpected expense or someone in your family lost a job, got sick or had another emergency, how confident are you that your family could come up with money to make ends meet?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Financial_Future_Confidence</name>
            <choiceReferences>Select_One</choiceReferences>
            <choiceReferences>Very_confident</choiceReferences>
            <choiceReferences>Confident</choiceReferences>
            <choiceReferences>Somewhat_confident</choiceReferences>
            <choiceReferences>Not_very_confident</choiceReferences>
            <choiceReferences>Not_at_all_confident</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_One</defaultSelectedChoiceReference>
            <fieldText>Financial Future Confidence</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Intake_Contact_Details</startElementReference>
    <variables>
        <name>Contact_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactID2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
