src/flows/Test_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Test_Assignment</name>
        <label>Test Assignment</label>
        <locationX>307</locationX>
        <locationY>104</locationY>
        <assignmentItems>
            <assignToReference>TestVariableNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TestVariableNumberAfterAdd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Output_Screen</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Default Text</description>
        <name>TestDefaultText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Thi is default text.</stringValue>
        </value>
    </constants>
    <description>A Test Flow</description>
    <dynamicChoiceSets>
        <name>TestDynamicChoiceOpportunityAmount</name>
        <dataType>Number</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Amount</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>DynamicChoiceNumber</assignToReference>
            <field>Amount</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DynamicChoiceText</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Amount</valueField>
    </dynamicChoiceSets>
    <label>Test Flow</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>TestOpportunityLookup</name>
        <label>TestOpportunityLookup</label>
        <locationX>132</locationX>
        <locationY>106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Test_Assignment</targetReference>
        </connector>
        <filters>
            <field>Amount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>TestVariableNumber</assignToReference>
            <field>Amount</field>
        </outputAssignments>
        <sortField>Amount</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>Output_Screen</name>
        <label>Output Screen</label>
        <locationX>468</locationX>
        <locationY>103</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Total</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The total of all opportunity amounts is &lt;B&gt;{!TestVariableNumberAfterAdd}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunities_with_Amounts</name>
            <choiceReferences>TestDynamicChoiceOpportunityAmount</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Opportunities with Amounts</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <startElementReference>TestOpportunityLookup</startElementReference>
    <variables>
        <name>DynamicChoiceNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DynamicChoiceText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The variable that stores the ID</description>
        <name>TestVariableID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Test Variable Long Text</description>
        <name>TestVariableLongText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TestVariableNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TestVariableNumberAfterAdd</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Test Variable Text</description>
        <name>TestVariableText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
