src/flows/Time_Record_Account-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>InvoiceAccount</name>
        <label>InvoiceAccount</label>
        <locationX>489</locationX>
        <locationY>261</locationY>
        <assignmentItems>
            <assignToReference>TimeRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeRecordInvoiceFound.Account_To__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTimeRecordAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OpportunityAccount</name>
        <label>OpportunityAccount</label>
        <locationX>480</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>TimeRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeRecordOpportunityFound.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTimeRecordAccount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Opportunity_or_Invoice</name>
        <label>Opportunity or Invoice</label>
        <locationX>45</locationX>
        <locationY>121</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeRecord.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeRecord.Invoice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupInvoice</targetReference>
            </connector>
            <label>Invoice</label>
        </rules>
    </decisions>
    <label>Time Record Account</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Opportunity</name>
        <label>Lookup Opportunity</label>
        <locationX>311</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpportunityAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeRecord.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>TimeRecordOpportunityFound</outputReference>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupInvoice</name>
        <label>LookupInvoice</label>
        <locationX>305</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InvoiceAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeRecord.Invoice__c</elementReference>
            </value>
        </filters>
        <object>Invoice__c</object>
        <outputReference>TimeRecordInvoiceFound</outputReference>
        <queriedFields>Account_To__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTimeRecordAccount</name>
        <label>UpdateTimeRecordAccount</label>
        <locationX>637</locationX>
        <locationY>158</locationY>
        <inputReference>TimeRecord</inputReference>
    </recordUpdates>
    <startElementReference>Opportunity_or_Invoice</startElementReference>
    <variables>
        <name>AccountForOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>TimeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Time_Record__c</objectType>
    </variables>
    <variables>
        <name>TimeRecordInvoiceFound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>TimeRecordOpportunityFound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
