src/flows/WS_Assign_Pmt_Reference_No_to_Transactions-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Debugging</name>
        <label>Debugging</label>
        <locationX>86</locationX>
        <locationY>145</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>DebugReport</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Oh Geesumcrepes! There&apos;s a sick Visual Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>Support@Winnets.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <description>Relates Check Numbers resulting from Payment records back to their originating Transaction for reporting efficiencies</description>
    <interviewLabel>(WS) Assign Pmt. Reference No. to Transactions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(WS) Assign Pmt. Reference No. to Transactions</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Pull_Reference_No</name>
        <label>Pull Reference No.</label>
        <locationX>24</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_TRN</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debugging</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PmtSummaryId</elementReference>
            </value>
        </filters>
        <object>c2g__codaPaymentMediaSummary__c</object>
        <outputAssignments>
            <assignToReference>CheckNo</assignToReference>
            <field>c2g__PaymentReference__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_TRN</name>
        <label>Update TRN</label>
        <locationX>155</locationX>
        <locationY>22</locationY>
        <faultConnector>
            <targetReference>Debugging</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>TransactionNo</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Reference__c</field>
            <value>
                <elementReference>CheckNo</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaTransaction__c</object>
    </recordUpdates>
    <startElementReference>Pull_Reference_No</startElementReference>
    <textTemplates>
        <name>DebugReport</name>
        <text>This is from a test flow in IB Prod which attempts to copy check no. from a payment media detail and related payment media summary record to the corresponding transaction. 

System Debug as follows:
{!$Flow.FaultMessage}

Critical Variables:
Payment Media Summary Id: {!PmtSummaryId}
Transaction No.: {!TransactionNo}</text>
    </textTemplates>
    <variables>
        <name>CheckNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PmtSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TransactionNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
