src/flows/WS_Assign_Commission_Value-9.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Debugging</name>
        <label>Debugging</label>
        <locationX>35</locationX>
        <locationY>405</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrorReportTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Oh Geesumcrepes! There&apos;s a sick Visual Flow.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>Support@Winnets.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>36</locationX>
        <locationY>24</locationY>
        <assignmentItems>
            <assignToReference>CommissionsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InputVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Commissions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_2</name>
        <label>Add to Collection 2</label>
        <locationX>278</locationX>
        <locationY>173</locationY>
        <assignmentItems>
            <assignToReference>UpdatedCommissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewCommission</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Commissions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Blogger_Total</name>
        <label>Assign Blogger Total</label>
        <locationX>459</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>NewCommission.Total_Commissionable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BloggerTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doctor_Total</name>
        <label>Assign Doctor Total</label>
        <locationX>459</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>NewCommission.Total_Commissionable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DoctorTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RP1</name>
        <label>Assign RP1</label>
        <locationX>848</locationX>
        <locationY>234</locationY>
        <assignmentItems>
            <assignToReference>NewCommission.Commission_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedRP1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Referral_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RP2</name>
        <label>Assign RP2</label>
        <locationX>806</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>NewCommission.Commission_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedRP2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Referral_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RP3</name>
        <label>Assign RP3</label>
        <locationX>759</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>NewCommission.Commission_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedRP3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Referral_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SP1</name>
        <label>Assign SP1</label>
        <locationX>615</locationX>
        <locationY>110</locationY>
        <assignmentItems>
            <assignToReference>NewCommission.Commission_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedSP1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SP2</name>
        <label>Assign SP2</label>
        <locationX>601</locationX>
        <locationY>183</locationY>
        <assignmentItems>
            <assignToReference>NewCommission.Commission_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedSP2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>RecordType</name>
        <label>RecordType?</label>
        <locationX>280</locationX>
        <locationY>24</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Commissions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Debit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCommission.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012500000001twpAAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pull_SIN</targetReference>
            </connector>
            <label>Debit</label>
        </rules>
        <rules>
            <name>Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCommission.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012500000001twoAAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pull_SCRN</targetReference>
            </connector>
            <label>Credit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referral_Type</name>
        <label>Referral Type</label>
        <locationX>625</locationX>
        <locationY>305</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Blogger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedReferralType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>blogger</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Blogger_Total</targetReference>
            </connector>
            <label>Blogger</label>
        </rules>
        <rules>
            <name>Doctor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedReferralType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>doctor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Doctor_Total</targetReference>
            </connector>
            <label>Doctor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Role</name>
        <label>Role?</label>
        <locationX>616</locationX>
        <locationY>22</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Commissions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Role Element Error</defaultConnectorLabel>
        <rules>
            <name>SP1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCommission.Sales_Person__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCommission.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SP1</targetReference>
            </connector>
            <label>SP1</label>
        </rules>
        <rules>
            <name>SP2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCommission.Sales_Person__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCommission.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SP2</targetReference>
            </connector>
            <label>SP2</label>
        </rules>
        <rules>
            <name>RP1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCommission.Referral_Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCommission.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RP1</targetReference>
            </connector>
            <label>RP1</label>
        </rules>
        <rules>
            <name>RP2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCommission.Referral_Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCommission.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RP2</targetReference>
            </connector>
            <label>RP2</label>
        </rules>
        <rules>
            <name>RP3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCommission.Referral_Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCommission.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tertiary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RP3</targetReference>
            </connector>
            <label>RP3</label>
        </rules>
    </decisions>
    <description>Contains enhancements to set Commissionable Amount</description>
    <formulas>
        <name>BloggerTotal</name>
        <dataType>Currency</dataType>
        <expression>{!RelatedTotalBlogger}*-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DoctorTotal</name>
        <dataType>Currency</dataType>
        <expression>{!RelatedTotalDoctor}*-1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>WS Assign Commission Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WS Assign Commission Values</label>
    <loops>
        <name>Loop_through_Commissions</name>
        <label>Loop through Commissions</label>
        <locationX>98</locationX>
        <locationY>163</locationY>
        <assignNextValueToReference>NewCommission</assignNextValueToReference>
        <collectionReference>CommissionsToUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RecordType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Commissions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Pull_SCRN</name>
        <label>Pull SCRN</label>
        <locationX>458</locationX>
        <locationY>101</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Role</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debugging</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCommission.Credit_Note__c</elementReference>
            </value>
        </filters>
        <object>c2g__codaCreditNote__c</object>
        <outputAssignments>
            <assignToReference>RelatedRP1</assignToReference>
            <field>RP1_Deductions__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedRP2</assignToReference>
            <field>RP2_Deductions__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedRP3</assignToReference>
            <field>RP3_Deductions__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedReferralType</assignToReference>
            <field>Referral_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedSP1</assignToReference>
            <field>SP1_Commissions_Deductions__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedSP2</assignToReference>
            <field>SP_2_Commission_Deductions__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedTotalCommissionable</assignToReference>
            <field>Total_Deductable__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedTotalBlogger</assignToReference>
            <field>Total_for_Bloggers__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedTotalDoctor</assignToReference>
            <field>Total_for_Doctors__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Pull_SIN</name>
        <label>Pull SIN</label>
        <locationX>458</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Role</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debugging</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCommission.Invoice__c</elementReference>
            </value>
        </filters>
        <object>c2g__codaInvoice__c</object>
        <outputAssignments>
            <assignToReference>RelatedRP3</assignToReference>
            <field>Grand_Parent_Account_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedRP2</assignToReference>
            <field>Parent_Account_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedReferralType</assignToReference>
            <field>Referral_Campaign_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedRP1</assignToReference>
            <field>Referral_Partner_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedSP1</assignToReference>
            <field>SP_1_Commission_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedSP2</assignToReference>
            <field>SP_2_Commission_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedTotalCommissionable</assignToReference>
            <field>Total_Commissionable__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedTotalBlogger</assignToReference>
            <field>Total_for_Bloggers__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedTotalDoctor</assignToReference>
            <field>Total_for_Doctors__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Commissions</name>
        <label>Update Commissions</label>
        <locationX>37</locationX>
        <locationY>304</locationY>
        <faultConnector>
            <targetReference>Debugging</targetReference>
        </faultConnector>
        <inputReference>UpdatedCommissions</inputReference>
    </recordUpdates>
    <startElementReference>Add_to_Collection</startElementReference>
    <textTemplates>
        <name>ErrorReportTemplate</name>
        <text>&quot;WS Assign Commissions Value&quot; has a fault inside IB Prod. 

The Purpose of this Visual Flow is to set &quot;Commission Amount&quot; on a newly created Commission Record AFTERINSERT - only. The Flow is bulified with collections and a loop. Inside of the Loop are two decision elements based on Parent Sales Invoices and Sales Credit Notes depending on the Commissions Record Type. 

The system error is as follows: 
{!$Flow.FaultMessage}

RecordType: {!NewCommission.RecordTypeId}
Invoice: {!NewCommission.Invoice__c}
Credit Note: {!NewCommission.Credit_Note__c}
Role: {!NewCommission.Role__c}</text>
    </textTemplates>
    <variables>
        <name>CommissionsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Commission__c</objectType>
    </variables>
    <variables>
        <name>InputVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Commission__c</objectType>
    </variables>
    <variables>
        <name>NewCommission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Commission__c</objectType>
    </variables>
    <variables>
        <name>RelatedReferralType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelatedRP1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RelatedRP2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RelatedRP3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RelatedSP1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RelatedSP2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RelatedTotalBlogger</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RelatedTotalCommissionable</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RelatedTotalDoctor</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UpdatedCommissions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Commission__c</objectType>
    </variables>
</Flow>
