src/flows/WS_Ascent_Tax_to_Financial_Force_Tax_Engine_Extn-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sys_Admin_Error_Alert</name>
        <label>Sys Admin Error Alert</label>
        <locationX>506</locationX>
        <locationY>32</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>FaultAlertMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Uh Oh, You have a Visualforce Hiccup.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>Jorgan@Winnets.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Var_to_New_Collection</name>
        <label>Add Var to New Collection</label>
        <locationX>932</locationX>
        <locationY>197</locationY>
        <assignmentItems>
            <assignToReference>SOLinesUpdatedCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOLineUpdated_sObjectVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_Reassignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Apply_FFA_Taxes</name>
        <label>Apply FFA Taxes</label>
        <locationX>934</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>SOLineUpdated_sObjectVar.Ascent2FF__Tax_Code_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FFATaxId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Var_to_New_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_1_Msg</name>
        <label>Assign Error 1 Msg</label>
        <locationX>26</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>FlowStatusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Visualflow error: Initial Fast Lookup element failed.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_2_Msg</name>
        <label>Assign Error 2 Msg</label>
        <locationX>148</locationX>
        <locationY>280</locationY>
        <assignmentItems>
            <assignToReference>FlowStatusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This Sales Order has already invoiced, and therefore the Financial ForceTaxes may not be altered.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_3_Msg</name>
        <label>Assign Error 3 Msg</label>
        <locationX>268</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>FlowStatusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This Sales Order is ineligible for Tax update until Sales Order Lines are added.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_4_Msg</name>
        <label>Assign Error 4 Msg</label>
        <locationX>391</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>FlowStatusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This Sales Order has no assigned Ascent Tax Code. Please set this value before proceeding.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_5_Msg</name>
        <label>Assign Error 5 Msg</label>
        <locationX>349</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>FlowStatusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Visualflow error: sObject Collection Fast Lookup element failed.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_6_Msg</name>
        <label>Assign Error 6 Msg</label>
        <locationX>666</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>FlowStatusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Financial Force Tax Code is associated with your indicated Ascent Tax Code. Please update this and then try again.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_sObject_Variable</name>
        <label>Copy sObject Variable</label>
        <locationX>935</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>SOLineUpdated_sObjectVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FoundSOLine_sObjectVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apply_FFA_Taxes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Collection_Populated</name>
        <label>Collection Populated?</label>
        <locationX>515</locationX>
        <locationY>451</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_5_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error 5</defaultConnectorLabel>
        <rules>
            <name>Greenlight_5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SOLineLookupCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Yank_Related_SO_Lines</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pull_FFA_Tax_Id</targetReference>
            </connector>
            <label>Greenlight 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>FFA_Tax_Id_Found</name>
        <label>FFA Tax Id Found?</label>
        <locationX>824</locationX>
        <locationY>522</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_6_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error 6</defaultConnectorLabel>
        <rules>
            <name>Greenlight_6</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FFATaxId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FFATaxId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_Reassignment</targetReference>
            </connector>
            <label>Greenlight 6</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Ascent_Tax_Code</name>
        <label>Has Ascent Tax Code?</label>
        <locationX>390</locationX>
        <locationY>293</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_4_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error 4</defaultConnectorLabel>
        <rules>
            <name>Greenlight_4</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SalesOrder_sObject.PBSI__Tax_Code__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesOrder_sObject.PBSI__Tax_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Yank_Related_SO_Lines</targetReference>
            </connector>
            <label>Greenlight 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_lines</name>
        <label>Has lines?</label>
        <locationX>269</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_3_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error 3</defaultConnectorLabel>
        <rules>
            <name>Greenlight_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesOrder_sObject.PBSI__Number_Of_Lines__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Ascent_Tax_Code</targetReference>
            </connector>
            <label>Greenlight  3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_already_invoiced</name>
        <label>Is already invoiced?</label>
        <locationX>149</locationX>
        <locationY>118</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_2_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error 2</defaultConnectorLabel>
        <rules>
            <name>Greenlight_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SalesOrder_sObject.PBSI__Invoice_Date__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesOrder_sObject.PBSI__Invoice_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_lines</targetReference>
            </connector>
            <label>Greenlight 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>SO_Found</name>
        <label>SO Found?</label>
        <locationX>26</locationX>
        <locationY>31</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_1_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error 1</defaultConnectorLabel>
        <rules>
            <name>Greenlight_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Yank_Sales_Order_Record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesOrder_sObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_already_invoiced</targetReference>
            </connector>
            <label>Greenlight 1</label>
        </rules>
    </decisions>
    <description>Completely revised Tax Code Id Lookup and Assignment</description>
    <label>(WS) Ascent Tax to Financial Force Tax Engine Extn.</label>
    <loops>
        <name>Collection_Reassignment</name>
        <label>Collection Reassignment</label>
        <locationX>819</locationX>
        <locationY>284</locationY>
        <assignNextValueToReference>FoundSOLine_sObjectVar</assignNextValueToReference>
        <collectionReference>SOLineLookupCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_sObject_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SO_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Pull_FFA_Tax_Id</name>
        <label>Pull FFA Tax Id</label>
        <locationX>720</locationX>
        <locationY>381</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FFA_Tax_Id_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Sys_Admin_Error_Alert</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOrder_sObject.PBSI__Tax_Code__c</elementReference>
            </value>
        </filters>
        <object>PBSI__Tax_Code__c</object>
        <outputAssignments>
            <assignToReference>FFATaxId</assignToReference>
            <field>FF_Tax_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Yank_Related_SO_Lines</name>
        <label>Yank Related SO Lines</label>
        <locationX>514</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collection_Populated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Sys_Admin_Error_Alert</targetReference>
        </faultConnector>
        <filters>
            <field>PBSI__Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParamSalesOrderId</elementReference>
            </value>
        </filters>
        <object>PBSI__PBSI_Sales_Order_Line__c</object>
        <outputReference>SOLineLookupCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Yank_Sales_Order_Record</name>
        <label>Yank Sales Order Record</label>
        <locationX>271</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SO_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Sys_Admin_Error_Alert</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParamSalesOrderId</elementReference>
            </value>
        </filters>
        <object>PBSI__PBSI_Sales_Order__c</object>
        <outputReference>SalesOrder_sObject</outputReference>
        <queriedFields>PBSI__Invoice_Date__c</queriedFields>
        <queriedFields>PBSI__Number_Of_Lines__c</queriedFields>
        <queriedFields>PBSI__Tax_Code__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Error_Report</name>
        <label>Error Report</label>
        <locationX>26</locationX>
        <locationY>522</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParamSalesOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_FFA_Tax_Text__c</field>
            <value>
                <elementReference>FlowStatusMessage</elementReference>
            </value>
        </inputAssignments>
        <object>PBSI__PBSI_Sales_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Report_Success</name>
        <label>Report Success!</label>
        <locationX>923</locationX>
        <locationY>32</locationY>
        <faultConnector>
            <targetReference>Sys_Admin_Error_Alert</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParamSalesOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_FFA_Tax_Text__c</field>
            <value>
                <stringValue>Financial Force Taxes Successfully Updated</stringValue>
            </value>
        </inputAssignments>
        <object>PBSI__PBSI_Sales_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SO_Lines</name>
        <label>Update SO Lines</label>
        <locationX>928</locationX>
        <locationY>115</locationY>
        <connector>
            <targetReference>Report_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Sys_Admin_Error_Alert</targetReference>
        </faultConnector>
        <inputReference>SOLinesUpdatedCollection</inputReference>
    </recordUpdates>
    <startElementReference>Yank_Sales_Order_Record</startElementReference>
    <textTemplates>
        <name>FaultAlertMessage</name>
        <text>Oh no! It looks like there was a programming failure inside of your visual flow &quot;(WS) Ascent Tax to Financial Force Tax Engine Extn.&quot; - Not to worry though, these things are typically easy to assess and fix. Please review with your system administrator, salesforce help, or a consultant.

Internal Debug Details:
{!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>FFATaxId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FlowStatusMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FoundSOLine_sObjectVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PBSI__PBSI_Sales_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>ParamSalesOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesOrder_sObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PBSI__PBSI_Sales_Order__c</objectType>
    </variables>
    <variables>
        <name>SOLineLookupCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PBSI__PBSI_Sales_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>SOLinesUpdatedCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PBSI__PBSI_Sales_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>SOLineUpdated_sObjectVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PBSI__PBSI_Sales_Order_Line__c</objectType>
    </variables>
</Flow>
