src/flows/WS_Batch_Prepayment_to_Processing_Fee_Journal-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Loop_Id</name>
        <label>Set Loop Id</label>
        <locationX>14</locationX>
        <locationY>76</locationY>
        <assignmentItems>
            <assignToReference>ParamPaymentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepayment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bank_Account_Found</name>
        <label>Bank Account Found?</label>
        <locationX>647</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Compile_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FoundBankAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FoundBankAccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pull_GLA_from_BA</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>EligibilityTest</name>
        <label>Eligibility</label>
        <locationX>141</locationX>
        <locationY>156</locationY>
        <defaultConnector>
            <targetReference>Compile_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Eligible</defaultConnectorLabel>
        <rules>
            <name>Eligible</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentJournalId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrepaymentJournalId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrepaymentFee</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_by_Origin</targetReference>
            </connector>
            <label>Eligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_by_Origin</name>
        <label>Filter by Origin</label>
        <locationX>321</locationX>
        <locationY>156</locationY>
        <defaultConnector>
            <targetReference>Compile_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>ACTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentOrigin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ACTI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_ACTI</targetReference>
            </connector>
            <label>ACTI</label>
        </rules>
        <rules>
            <name>Amazon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentOrigin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Amazon.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Amazon</targetReference>
            </connector>
            <label>Amazon</label>
        </rules>
        <rules>
            <name>Paypal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentOrigin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Paypal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Paypal</targetReference>
            </connector>
            <label>Paypal</label>
        </rules>
        <rules>
            <name>SLC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentOrigin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SLC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_SLC</targetReference>
            </connector>
            <label>SLC</label>
        </rules>
        <rules>
            <name>Orem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentOrigin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Orem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Orem</targetReference>
            </connector>
            <label>Orem</label>
        </rules>
        <rules>
            <name>Draper</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentOrigin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Draper</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Draper</targetReference>
            </connector>
            <label>Draper</label>
        </rules>
    </decisions>
    <formulas>
        <name>DebitValue</name>
        <dataType>Number</dataType>
        <expression>{!PrepaymentFee}*-1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>(WS) Batch Prepayment to Processing Fee Journal  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(WS) Batch Prepayment to Processing Fee Journal</label>
    <loops>
        <name>Compile_Collection</name>
        <label>Compile Collection</label>
        <locationX>408</locationX>
        <locationY>5</locationY>
        <assignNextValueToReference>LoopVariable</assignNextValueToReference>
        <collectionReference>CustomerPrepayments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Loop_Id</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Credit_Journal_Line</name>
        <label>Create Credit Journal Line</label>
        <locationX>790</locationX>
        <locationY>226</locationY>
        <connector>
            <targetReference>Create_Debit_Journal_Line</targetReference>
        </connector>
        <inputAssignments>
            <field>c2g__BankAccount__c</field>
            <value>
                <elementReference>FoundBankAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__GeneralLedgerAccount__c</field>
            <value>
                <stringValue>a1M500000003Qlv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Journal__c</field>
            <value>
                <elementReference>PrepaymentJournalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineType__c</field>
            <value>
                <stringValue>Bank Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Value__c</field>
            <value>
                <elementReference>PrepaymentFee</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaJournalLineItem__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Debit_Journal_Line</name>
        <label>Create Debit Journal Line</label>
        <locationX>929</locationX>
        <locationY>227</locationY>
        <connector>
            <targetReference>Update_Prepayment</targetReference>
        </connector>
        <inputAssignments>
            <field>c2g__BankAccount__c</field>
            <value>
                <elementReference>FoundBankAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__GeneralLedgerAccount__c</field>
            <value>
                <elementReference>RelatedGLAId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Journal__c</field>
            <value>
                <elementReference>PrepaymentJournalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineType__c</field>
            <value>
                <stringValue>Bank Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Value__c</field>
            <value>
                <elementReference>DebitValue</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaJournalLineItem__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Journal</name>
        <label>Create Journal</label>
        <locationX>790</locationX>
        <locationY>154</locationY>
        <assignRecordIdToReference>PrepaymentJournalId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Credit_Journal_Line</targetReference>
        </connector>
        <inputAssignments>
            <field>Payment__c</field>
            <value>
                <elementReference>ParamPaymentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__JournalDate__c</field>
            <value>
                <elementReference>PrepaymentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__JournalDescription__c</field>
            <value>
                <stringValue>Payment Processing Fee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__JournalStatus__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Reference__c</field>
            <value>
                <elementReference>PrepaymentReference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Type__c</field>
            <value>
                <stringValue>Manual Journal</stringValue>
            </value>
        </inputAssignments>
        <object>c2g__codaJournal__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_ACTI</name>
        <label>Find ACTI</label>
        <locationX>501</locationX>
        <locationY>154</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bank_Account_Found</targetReference>
        </connector>
        <filters>
            <field>Payment_Origin_Mapping__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACTI</stringValue>
            </value>
        </filters>
        <object>c2g__codaBankAccount__c</object>
        <outputAssignments>
            <assignToReference>FoundBankAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Amazon</name>
        <label>Find Amazon</label>
        <locationX>500</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bank_Account_Found</targetReference>
        </connector>
        <filters>
            <field>Payment_Origin_Mapping__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amazon.com</stringValue>
            </value>
        </filters>
        <object>c2g__codaBankAccount__c</object>
        <outputAssignments>
            <assignToReference>FoundBankAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Draper</name>
        <label>Find Draper</label>
        <locationX>499</locationX>
        <locationY>498</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bank_Account_Found</targetReference>
        </connector>
        <filters>
            <field>Payment_Origin_Mapping__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draper</stringValue>
            </value>
        </filters>
        <object>c2g__codaBankAccount__c</object>
        <outputAssignments>
            <assignToReference>FoundBankAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Orem</name>
        <label>Find Orem</label>
        <locationX>499</locationX>
        <locationY>428</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bank_Account_Found</targetReference>
        </connector>
        <filters>
            <field>Payment_Origin_Mapping__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Orem</stringValue>
            </value>
        </filters>
        <object>c2g__codaBankAccount__c</object>
        <outputAssignments>
            <assignToReference>FoundBankAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Paypal</name>
        <label>Find Paypal</label>
        <locationX>499</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bank_Account_Found</targetReference>
        </connector>
        <filters>
            <field>Payment_Origin_Mapping__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paypal</stringValue>
            </value>
        </filters>
        <object>c2g__codaBankAccount__c</object>
        <outputAssignments>
            <assignToReference>FoundBankAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_SLC</name>
        <label>Find SLC</label>
        <locationX>500</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bank_Account_Found</targetReference>
        </connector>
        <filters>
            <field>Payment_Origin_Mapping__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLC</stringValue>
            </value>
        </filters>
        <object>c2g__codaBankAccount__c</object>
        <outputAssignments>
            <assignToReference>FoundBankAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Prepayment</name>
        <label>Prepayment</label>
        <locationX>12</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EligibilityTest</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParamPaymentId</elementReference>
            </value>
        </filters>
        <object>Prepayment__c</object>
        <outputAssignments>
            <assignToReference>PrepaymentAccountId</assignToReference>
            <field>Account_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrepaymentDate</assignToReference>
            <field>Date_of_Payment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrepaymentJournalId</assignToReference>
            <field>Journal__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrepaymentMethod</assignToReference>
            <field>Method__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrepaymentOrigin</assignToReference>
            <field>Origin__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrepaymentFee</assignToReference>
            <field>Processing_Fees__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrepaymentReference</assignToReference>
            <field>Reference__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Pull_GLA_from_BA</name>
        <label>Pull GLA from BA</label>
        <locationX>646</locationX>
        <locationY>154</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Journal</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FoundBankAccountId</elementReference>
            </value>
        </filters>
        <object>c2g__codaBankAccount__c</object>
        <outputAssignments>
            <assignToReference>RelatedGLAId</assignToReference>
            <field>c2g__GeneralLedgerAccount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Prepayment</name>
        <label>Update Prepayment</label>
        <locationX>927</locationX>
        <locationY>154</locationY>
        <connector>
            <targetReference>Compile_Collection</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParamPaymentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Journal__c</field>
            <value>
                <elementReference>PrepaymentJournalId</elementReference>
            </value>
        </inputAssignments>
        <object>Prepayment__c</object>
    </recordUpdates>
    <startElementReference>Compile_Collection</startElementReference>
    <variables>
        <name>CustomerPrepayments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Prepayment__c</objectType>
    </variables>
    <variables>
        <name>FoundBankAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Prepayment__c</objectType>
    </variables>
    <variables>
        <name>ParamPaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrepaymentAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrepaymentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrepaymentFee</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PrepaymentJournalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrepaymentMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrepaymentOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrepaymentReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelatedGLAId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
