src/flows/WS_Batch_Payment_to_Cash_Entry_Translation-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Alert</name>
        <label>Error Alert</label>
        <locationX>642</locationX>
        <locationY>747</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CourtesyMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Bulk Payment to Cash Entry Error Report</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>katy@intellibed.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Error_1</name>
        <label>Assign Error 1</label>
        <locationX>6</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>ElementSpecificErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FastLookupError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_2</name>
        <label>Assign Error 2</label>
        <locationX>139</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>ElementSpecificErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Decision1Error</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_3</name>
        <label>Assign Error 3</label>
        <locationX>479</locationX>
        <locationY>651</locationY>
        <assignmentItems>
            <assignToReference>ElementSpecificErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Decision2Error</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_4</name>
        <label>Assign Error 4</label>
        <locationX>640</locationX>
        <locationY>651</locationY>
        <assignmentItems>
            <assignToReference>ElementSpecificErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Decision3Error</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_5</name>
        <label>Assign Error 5</label>
        <locationX>860</locationX>
        <locationY>654</locationY>
        <assignmentItems>
            <assignToReference>ElementSpecificErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FastCreateError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_6</name>
        <label>Assign Error 6</label>
        <locationX>989</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>ElementSpecificErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordCreateError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_7</name>
        <label>Assign Error 7</label>
        <locationX>1114</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>ElementSpecificErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prepayment Record Update with resulting Cash Entry Id Failure</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_sObject_for_Creation</name>
        <label>Prepare sObject for Creation</label>
        <locationX>634</locationX>
        <locationY>207</locationY>
        <assignmentItems>
            <assignToReference>CashEntry_sObject.c2g__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Receipt</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CashEntry_sObject.c2g__BankAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FoundBankAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CashEntry_sObject.c2g__Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrepaymentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CashEntry_sObject.c2g__Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrepaymentReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CashEntry_sObject.c2g__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CashEntry_sObject.Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParamPaymentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CashEntry_sObject.c2g__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>money received from a customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cash_Entry_Header</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cash</name>
        <label>Set Cash</label>
        <locationX>512</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>CashEntry_sObject.c2g__PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cash</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_sObject_for_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Check</name>
        <label>Set Check</label>
        <locationX>635</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>CashEntry_sObject.c2g__PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Check</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_sObject_for_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Electronic</name>
        <label>Set Electronic</label>
        <locationX>758</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>CashEntry_sObject.c2g__PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Electronic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_sObject_for_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Id</name>
        <label>Set Id</label>
        <locationX>11</locationX>
        <locationY>132</locationY>
        <assignmentItems>
            <assignToReference>ParamPaymentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pull_Prepayment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bank_Account_Found</name>
        <label>Bank Account Found?</label>
        <locationX>478</locationX>
        <locationY>385</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FoundBankAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FoundBankAccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Method</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>EligibilityTest</name>
        <label>Eligible?</label>
        <locationX>137</locationX>
        <locationY>209</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eligible</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentCashEntryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrepaymentCashEntryId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrepaymentAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_by_Origin</targetReference>
            </connector>
            <label>Eligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_by_Origin</name>
        <label>Filter by Origin</label>
        <locationX>138</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ACTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentOrigin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ACTI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_ACTI</targetReference>
            </connector>
            <label>ACTI</label>
        </rules>
        <rules>
            <name>Amazon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentOrigin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Amazon.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Amazon</targetReference>
            </connector>
            <label>Amazon</label>
        </rules>
        <rules>
            <name>Paypal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentOrigin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Paypal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Paypal</targetReference>
            </connector>
            <label>Paypal</label>
        </rules>
        <rules>
            <name>SLC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentOrigin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SLC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_SLC</targetReference>
            </connector>
            <label>SLC</label>
        </rules>
        <rules>
            <name>Orem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentOrigin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Orem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Orem</targetReference>
            </connector>
            <label>Orem</label>
        </rules>
        <rules>
            <name>Draper</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentOrigin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Draper</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrepaymentOrigin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Store - City Creek, Utah</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Draper</targetReference>
            </connector>
            <label>Draper</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Method</name>
        <label>Payment Method?</label>
        <locationX>638</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Electronic</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMEX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrepaymentMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VISA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrepaymentMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrepaymentMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrepaymentMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paypal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrepaymentMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amazon.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrepaymentMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Synchrony</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrepaymentMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Finance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrepaymentMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wells Fargo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrepaymentMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affirm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Electronic</targetReference>
            </connector>
            <label>Electronic</label>
        </rules>
        <rules>
            <name>Cash</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cash</targetReference>
            </connector>
            <label>Cash</label>
        </rules>
        <rules>
            <name>Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Check</targetReference>
            </connector>
            <label>Check</label>
        </rules>
    </decisions>
    <description>Included Wells Fargo as Payment Option. Included Affirm as a Payment Option. Included City Creek as Origin and mapped to Draper Bank Account</description>
    <interviewLabel>(WS) Batch Payment to Cash Entry Translation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(WS) Batch Payment to Cash Entry Translation</label>
    <loops>
        <name>Compile_Collection</name>
        <label>Compile Collection</label>
        <locationX>630</locationX>
        <locationY>15</locationY>
        <assignNextValueToReference>LoopVariable</assignNextValueToReference>
        <collectionReference>CustomerPrepayments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Id</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cash_Entry_Header</name>
        <label>Create Cash Entry Header</label>
        <locationX>860</locationX>
        <locationY>206</locationY>
        <connector>
            <targetReference>Create_Cash_Entry_Line</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_5</targetReference>
        </faultConnector>
        <inputReference>CashEntry_sObject</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Cash_Entry_Line</name>
        <label>Create Cash Entry Line</label>
        <locationX>987</locationX>
        <locationY>206</locationY>
        <connector>
            <targetReference>Update_Prepayment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_6</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>c2g__Account__c</field>
            <value>
                <elementReference>PrepaymentAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CashEntryValue__c</field>
            <value>
                <elementReference>PrepaymentAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CashEntry__c</field>
            <value>
                <elementReference>CashEntry_sObject.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ffcash__DeriveAccountDimensions__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ffcash__DerivePaymentMethod__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>c2g__codaCashEntryLineItem__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_ACTI</name>
        <label>Find ACTI</label>
        <locationX>311</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bank_Account_Found</targetReference>
        </connector>
        <filters>
            <field>Payment_Origin_Mapping__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACTI</stringValue>
            </value>
        </filters>
        <object>c2g__codaBankAccount__c</object>
        <outputAssignments>
            <assignToReference>FoundBankAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Amazon</name>
        <label>Find Amazon</label>
        <locationX>312</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bank_Account_Found</targetReference>
        </connector>
        <filters>
            <field>Payment_Origin_Mapping__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amazon.com</stringValue>
            </value>
        </filters>
        <object>c2g__codaBankAccount__c</object>
        <outputAssignments>
            <assignToReference>FoundBankAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Draper</name>
        <label>Find Draper</label>
        <locationX>312</locationX>
        <locationY>596</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bank_Account_Found</targetReference>
        </connector>
        <filters>
            <field>Payment_Origin_Mapping__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draper</stringValue>
            </value>
        </filters>
        <object>c2g__codaBankAccount__c</object>
        <outputAssignments>
            <assignToReference>FoundBankAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Orem</name>
        <label>Find Orem</label>
        <locationX>313</locationX>
        <locationY>502</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bank_Account_Found</targetReference>
        </connector>
        <filters>
            <field>Payment_Origin_Mapping__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Orem</stringValue>
            </value>
        </filters>
        <object>c2g__codaBankAccount__c</object>
        <outputAssignments>
            <assignToReference>FoundBankAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Paypal</name>
        <label>Find Paypal</label>
        <locationX>312</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bank_Account_Found</targetReference>
        </connector>
        <filters>
            <field>Payment_Origin_Mapping__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paypal</stringValue>
            </value>
        </filters>
        <object>c2g__codaBankAccount__c</object>
        <outputAssignments>
            <assignToReference>FoundBankAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_SLC</name>
        <label>Find SLC</label>
        <locationX>312</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bank_Account_Found</targetReference>
        </connector>
        <filters>
            <field>Payment_Origin_Mapping__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLC</stringValue>
            </value>
        </filters>
        <object>c2g__codaBankAccount__c</object>
        <outputAssignments>
            <assignToReference>FoundBankAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Pull_Prepayment</name>
        <label>Pull Prepayment</label>
        <locationX>9</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EligibilityTest</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_1</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParamPaymentId</elementReference>
            </value>
        </filters>
        <object>Prepayment__c</object>
        <outputAssignments>
            <assignToReference>PrepaymentAccountId</assignToReference>
            <field>Account_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrepaymentAmount</assignToReference>
            <field>Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrepaymentCashEntryId</assignToReference>
            <field>Cash_Entry__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrepaymentDate</assignToReference>
            <field>Date_of_Payment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrepaymentMethod</assignToReference>
            <field>Method__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrepaymentName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrepaymentOpportunityId</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrepaymentOrigin</assignToReference>
            <field>Origin__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrepaymentReference</assignToReference>
            <field>Reference__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Prepayment</name>
        <label>Update Prepayment</label>
        <locationX>1114</locationX>
        <locationY>207</locationY>
        <connector>
            <targetReference>Compile_Collection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_7</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParamPaymentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cash_Entry__c</field>
            <value>
                <elementReference>CashEntry_sObject.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Prepayment__c</object>
    </recordUpdates>
    <startElementReference>Compile_Collection</startElementReference>
    <textTemplates>
        <name>CourtesyMessage</name>
        <text>The &quot;(WS) Payment to Cash Entry Translation&quot; Flow was unable to process the following prepayment record which was recently submitted. 

Id: {!ParamPaymentId}
Origin: {!PrepaymentOrigin}
Method: {!PrepaymentMethod}

Not to worry though, these things are typically easy to assess and fix. Please review with your system administrator, salesforce help, or a consultant.

Internal Debug Details: 
{!ElementSpecificErrorMessage}
{!$Flow.FaultMessage}

This Flow and corresponding error report were developed by World-Class Industrial Network. For assistance, contact support@winnets.com.</text>
    </textTemplates>
    <variables>
        <name>CashEntry_sObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>c2g__codaCashEntry__c</objectType>
    </variables>
    <variables>
        <name>CustomerPrepayments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Prepayment__c</objectType>
    </variables>
    <variables>
        <name>Decision1Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>It would seem the fault lies in the Decision Element which filters by Payment Origin</stringValue>
        </value>
    </variables>
    <variables>
        <name>Decision2Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>It would seem the fault lies with the Decision Element which checks if a Bank Account was found.</stringValue>
        </value>
    </variables>
    <variables>
        <name>Decision3Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>It would seem the fault lies with the Decision Element that filters by Payment Method</stringValue>
        </value>
    </variables>
    <variables>
        <name>ElementSpecificErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FastCreateError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>It would seem the fault lies with the Fast Create Element which is responsible for creating the cash entry header.</stringValue>
        </value>
    </variables>
    <variables>
        <name>FastLookupError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>It would seem the fault lies with the Fast Lookup Element.</stringValue>
        </value>
    </variables>
    <variables>
        <name>FoundBankAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Prepayment__c</objectType>
    </variables>
    <variables>
        <name>ParamPaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Payment_sObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Prepayment__c</objectType>
    </variables>
    <variables>
        <name>PrepaymentAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrepaymentAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PrepaymentCashEntryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrepaymentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrepaymentMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrepaymentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrepaymentOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrepaymentOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrepaymentReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordCreateError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>It would seem the fault lies with the Record Create Element which is responsible for creating the cash entry line item.</stringValue>
        </value>
    </variables>
</Flow>
