src/flows/WS_Single_Prepayment_to_Processing_Fee_Journal-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Alert</name>
        <label>Error Alert</label>
        <locationX>445</locationX>
        <locationY>545</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrorMesssageBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Oh Geesh, looks like a visual flow is barking.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>Jorgan@winnets.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>ALL_Other_Processing</name>
        <label>ALL Other Processing</label>
        <locationX>482</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>DebitGLA</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1M500000003Qlv</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bank_Account_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_1</name>
        <label>Assign Error 1</label>
        <locationX>17</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>ElementError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prepayment Lookup Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_2</name>
        <label>Assign Error 2</label>
        <locationX>137</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>ElementError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prepayment Ineligible</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_error_3</name>
        <label>Assign error 3</label>
        <locationX>253</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>ElementError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Filter by Prepayment Origin had No Match</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_4</name>
        <label>Assign Error 4</label>
        <locationX>379</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>ElementError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bank Account Lookup Fault</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_5</name>
        <label>Assign Error 5</label>
        <locationX>502</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ElementError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bank Account Not Found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_6</name>
        <label>Assign Error 6</label>
        <locationX>621</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>ElementError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Record Lookup GLA from BA Fault</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_7</name>
        <label>Assign Error 7</label>
        <locationX>742</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>ElementError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Record Create Journal Fault</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_8</name>
        <label>Assign Error 8</label>
        <locationX>859</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ElementError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Record Create Journal Line Fault</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_9</name>
        <label>Assign Error 9</label>
        <locationX>976</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>ElementError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Record Update Prepayment Fault</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Paypal_Processing</name>
        <label>Paypal Processing</label>
        <locationX>483</locationX>
        <locationY>35</locationY>
        <assignmentItems>
            <assignToReference>DebitGLA</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1M500000003Qhw</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bank_Account_Found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bank_Account_Found</name>
        <label>Bank Account Found?</label>
        <locationX>621</locationX>
        <locationY>167</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FoundBankAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FoundBankAccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pull_GLA_from_BA</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>EligibilityTest</name>
        <label>Eligibility</label>
        <locationX>105</locationX>
        <locationY>193</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Eligible</defaultConnectorLabel>
        <rules>
            <name>Eligible</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentJournalId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrepaymentJournalId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrepaymentFee</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_by_Origin</targetReference>
            </connector>
            <label>Eligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_by_Origin</name>
        <label>Filter by Origin</label>
        <locationX>168</locationX>
        <locationY>35</locationY>
        <defaultConnector>
            <targetReference>Assign_error_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>ACTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentOrigin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ACTI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_ACTI</targetReference>
            </connector>
            <label>ACTI</label>
        </rules>
        <rules>
            <name>Amazon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentOrigin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Amazon.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Amazon</targetReference>
            </connector>
            <label>Amazon</label>
        </rules>
        <rules>
            <name>Paypal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentOrigin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Paypal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Paypal</targetReference>
            </connector>
            <label>Paypal</label>
        </rules>
        <rules>
            <name>SLC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentOrigin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SLC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_SLC</targetReference>
            </connector>
            <label>SLC</label>
        </rules>
        <rules>
            <name>Orem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentOrigin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Orem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Orem</targetReference>
            </connector>
            <label>Orem</label>
        </rules>
        <rules>
            <name>Draper</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrepaymentOrigin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Draper</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Draper</targetReference>
            </connector>
            <label>Draper</label>
        </rules>
    </decisions>
    <description>resolution to Related GLA issue for debit line. error was introduced when unintentional secondary GLA variable was established to hardcode ACTI &amp; Paypal processing fees.</description>
    <formulas>
        <name>CreditValue</name>
        <dataType>Number</dataType>
        <expression>{!PrepaymentFee}*-1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>(WS) Single Prepayment to Processing Fee Journal v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(WS) Single Prepayment to Processing Fee Journal v3</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Credit_Journal_Line</name>
        <label>Create Debit Journal Line</label>
        <locationX>899</locationX>
        <locationY>202</locationY>
        <connector>
            <targetReference>Update_Prepayment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_8</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>c2g__GeneralLedgerAccount__c</field>
            <value>
                <elementReference>DebitGLA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Journal__c</field>
            <value>
                <elementReference>PrepaymentJournalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineType__c</field>
            <value>
                <stringValue>General Ledger Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Value__c</field>
            <value>
                <elementReference>PrepaymentFee</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaJournalLineItem__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Debit_Journal_Line</name>
        <label>Create Credit Journal Line</label>
        <locationX>805</locationX>
        <locationY>119</locationY>
        <connector>
            <targetReference>Create_Credit_Journal_Line</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_8</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>c2g__BankAccount__c</field>
            <value>
                <elementReference>FoundBankAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__GeneralLedgerAccount__c</field>
            <value>
                <elementReference>RelatedGLAId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Journal__c</field>
            <value>
                <elementReference>PrepaymentJournalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineType__c</field>
            <value>
                <stringValue>Bank Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Value__c</field>
            <value>
                <elementReference>CreditValue</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaJournalLineItem__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Journal</name>
        <label>Create Journal</label>
        <locationX>743</locationX>
        <locationY>37</locationY>
        <assignRecordIdToReference>PrepaymentJournalId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Debit_Journal_Line</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_7</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Payment__c</field>
            <value>
                <elementReference>ParamPaymentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__JournalDate__c</field>
            <value>
                <elementReference>PrepaymentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__JournalDescription__c</field>
            <value>
                <stringValue>Payment Processing Fee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__JournalStatus__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Reference__c</field>
            <value>
                <elementReference>CustomerAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Type__c</field>
            <value>
                <stringValue>Manual Journal</stringValue>
            </value>
        </inputAssignments>
        <object>c2g__codaJournal__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_ACTI</name>
        <label>Find ACTI</label>
        <locationX>350</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ALL_Other_Processing</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_4</targetReference>
        </faultConnector>
        <filters>
            <field>Payment_Origin_Mapping__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACTI</stringValue>
            </value>
        </filters>
        <object>c2g__codaBankAccount__c</object>
        <outputAssignments>
            <assignToReference>FoundBankAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Amazon</name>
        <label>Find Amazon</label>
        <locationX>349</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ALL_Other_Processing</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_4</targetReference>
        </faultConnector>
        <filters>
            <field>Payment_Origin_Mapping__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amazon.com</stringValue>
            </value>
        </filters>
        <object>c2g__codaBankAccount__c</object>
        <outputAssignments>
            <assignToReference>FoundBankAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Draper</name>
        <label>Find Draper</label>
        <locationX>350</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ALL_Other_Processing</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_4</targetReference>
        </faultConnector>
        <filters>
            <field>Payment_Origin_Mapping__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draper</stringValue>
            </value>
        </filters>
        <object>c2g__codaBankAccount__c</object>
        <outputAssignments>
            <assignToReference>FoundBankAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Orem</name>
        <label>Find Orem</label>
        <locationX>350</locationX>
        <locationY>305</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ALL_Other_Processing</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_4</targetReference>
        </faultConnector>
        <filters>
            <field>Payment_Origin_Mapping__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Orem</stringValue>
            </value>
        </filters>
        <object>c2g__codaBankAccount__c</object>
        <outputAssignments>
            <assignToReference>FoundBankAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Paypal</name>
        <label>Find Paypal</label>
        <locationX>351</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Paypal_Processing</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_4</targetReference>
        </faultConnector>
        <filters>
            <field>Payment_Origin_Mapping__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paypal</stringValue>
            </value>
        </filters>
        <object>c2g__codaBankAccount__c</object>
        <outputAssignments>
            <assignToReference>FoundBankAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_SLC</name>
        <label>Find SLC</label>
        <locationX>349</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ALL_Other_Processing</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_4</targetReference>
        </faultConnector>
        <filters>
            <field>Payment_Origin_Mapping__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLC</stringValue>
            </value>
        </filters>
        <object>c2g__codaBankAccount__c</object>
        <outputAssignments>
            <assignToReference>FoundBankAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Prepayment</name>
        <label>Prepayment</label>
        <locationX>19</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EligibilityTest</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_1</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParamPaymentId</elementReference>
            </value>
        </filters>
        <object>Prepayment__c</object>
        <outputAssignments>
            <assignToReference>PrepaymentAccountId</assignToReference>
            <field>Account_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CustomerAccountName</assignToReference>
            <field>Customer_Account_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrepaymentDate</assignToReference>
            <field>Date_of_Payment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrepaymentJournalId</assignToReference>
            <field>Journal__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrepaymentMethod</assignToReference>
            <field>Method__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityLeadSource</assignToReference>
            <field>Opportunity_LeadSource__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrepaymentOrigin</assignToReference>
            <field>Origin__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrepaymentFee</assignToReference>
            <field>Processing_Fees__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrepaymentReference</assignToReference>
            <field>Reference__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Pull_GLA_from_BA</name>
        <label>Pull GLA from BA</label>
        <locationX>622</locationX>
        <locationY>36</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Journal</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_6</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FoundBankAccountId</elementReference>
            </value>
        </filters>
        <object>c2g__codaBankAccount__c</object>
        <outputAssignments>
            <assignToReference>RelatedGLAId</assignToReference>
            <field>c2g__GeneralLedgerAccount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Prepayment</name>
        <label>Update Prepayment</label>
        <locationX>972</locationX>
        <locationY>282</locationY>
        <faultConnector>
            <targetReference>Assign_Error_9</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParamPaymentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Journal__c</field>
            <value>
                <elementReference>PrepaymentJournalId</elementReference>
            </value>
        </inputAssignments>
        <object>Prepayment__c</object>
    </recordUpdates>
    <startElementReference>Prepayment</startElementReference>
    <textTemplates>
        <name>ErrorMesssageBody</name>
        <text>From intelliBED
Flow: (WS) Prepayment to Processing Fee Journal v6

While processing payment record {!ParamPaymentId}, the flow detected the following specifc run-time error: &quot;{!ElementError}&quot; the debug log reads {!$Flow.FaultMessage}.</text>
    </textTemplates>
    <variables>
        <name>CustomerAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DebitGLA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Dimension1Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ElementError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FoundBankAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityLeadSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParamPaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrepaymentAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrepaymentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrepaymentFee</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PrepaymentJournalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrepaymentMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrepaymentOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrepaymentReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelatedGLAId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
